Repository meta-soul/MetaSpore, pull requests merged in 2022-04, with the labels that each got.

#25 Add className reflection, parameter inheritance and context access for java experiment-pipeline
  java/online-serving/experiment-pipeline-example/.gitignore
  java/online-serving/experiment-pipeline-example/mvnw
  java/online-serving/experiment-pipeline-example/mvnw.cmd
  java/online-serving/experiment-pipeline-example/pom.xml
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/ExperimentPipelineExampleApplication.java
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/controller/DemoController.java
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/experiment/RankExperimentOne.java
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/experiment/RankExperimentTwo.java
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/experiment/RecallExperimentOne.java
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/experiment/RecallExperimentTwo.java
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/layer/FirstLayerPojo.java
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/layer/RankLayer.java
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/layer/RecallLayer.java
  java/online-serving/experiment-pipeline-example/src/main/java/com/dmetasoul/metaspore/example/layer/SecondLayerPojo.java
  java/online-serving/experiment-pipeline-example/src/main/resources/application.properties
  java/online-serving/experiment-pipeline-example/src/main/resources/bootstrap.yml
  java/online-serving/experiment-pipeline-example/src/main/resources/scene.yml
  java/online-serving/experiment-pipeline-example/src/test/java/com/dmetasoul/metaspore/ExperimentPipelineExampleApplicationTests.java
  java/online-serving/experiment-pipeline-example/src/test/java/com/dmetasoul/metaspore/example/controller/DemoControllerTest.java
  java/online-serving/experiment-pipeline/README-CN.md
  java/online-serving/experiment-pipeline/README.md
  java/online-serving/experiment-pipeline/src/main/java/com/dmetasoul/metaspore/pipeline/BaseExperiment.java
  java/online-serving/experiment-pipeline/src/main/java/com/dmetasoul/metaspore/pipeline/BaseLayer.java
  java/online-serving/experiment-pipeline/src/main/java/com/dmetasoul/metaspore/pipeline/Scene.java
  java/online-serving/experiment-pipeline/src/main/java/com/dmetasoul/metaspore/pipeline/impl/Context.java
  java/online-serving/experiment-pipeline/src/main/java/com/dmetasoul/metaspore/pipeline/impl/SceneImpl.java
  java/online-serving/experiment-pipeline/src/main/java/com/dmetasoul/metaspore/pipeline/impl/ScenesFactoryImpl.java
  java/online-serving/experiment-pipeline/src/main/java/com/dmetasoul/metaspore/pipeline/pojo/Experiment.java
  java/online-serving/experiment-pipeline/src/main/java/com/dmetasoul/metaspore/pipeline/pojo/Scene.java
  java/online-serving/feature-extract/pom.xml
  java/online-serving/pom.xml
Labels: java-online-serving

#24 Upgrade online serving for MovieLens Demo
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/experiment/diversify/DiversifyExperiment.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/experiment/match/MatchExperiment.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/experiment/match/MultipleMatchExperiment.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/experiment/rank/LightGBMRankExperiment.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/experiment/rank/RankExperiment.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/experiment/rank/WideDeepRankExperiment.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/experiment/summary/SummaryExperiment.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/experiment/usermodel/UserModelExperiment.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/layer/DiversifyLayer.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/layer/MatchLayer.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/layer/RankLayer.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/layer/SummaryLayer.java
  demo/movielens/online/src/main/java/com/dmetasoul/metaspore/demo/movielens/abtesting/layer/UserModelLayer.java
  demo/movielens/online/src/main/resources/experiment.yaml
Labels: MovieLens Demo

#26 change vcpkg registry protocol to https
  vcpkg-configuration.json
Labels: bug

#28 unify maven version in parent pom
  java/online-serving/experiment-pipeline-example/pom.xml
  java/online-serving/experiment-pipeline-example/src/test/java/com/dmetasoul/metaspore/ExperimentPipelineExampleApplicationTests.java
  java/online-serving/experiment-pipeline/pom.xml
  java/online-serving/feature-extract/pom.xml
  java/online-serving/pom.xml
  java/online-serving/serving/pom.xml
Labels: java-online-serving

#29 update springframe version
  java/online-serving/pom.xml
Labels: java-online-serving

#33 bugfix maven dependency of java online serving
  java/online-serving/serving/pom.xml
Labels: bug, java-online-serving

#38 fix `fg_movielens.py` error
  demo/movielens/offline/fg.yaml
  demo/movielens/offline/fg_movielens.py
  demo/movielens/offline/fg_sparse_features_extractor.py
Labels: bug, MovieLens Demo

#51 [serving][bug] fix thread safety in arrow plan exec. fix lambda capture in co_spawn …
  cmake/metaspore_serving.cmake
  cmake/metaspore_shared.cmake
  cpp/serving/dense_feature_extraction_model.cpp
  cpp/serving/feature_compute_exec.cpp
  cpp/serving/feature_compute_exec.h
  cpp/serving/inmem_sparse_lookup.cpp
  cpp/serving/model_base.h
  cpp/serving/model_manager.cpp
  cpp/serving/ort_model.cpp
  cpp/serving/sparse_embedding_bag_model.cpp
  cpp/serving/sparse_feature_extraction_model.cpp
  cpp/serving/sparse_lookup_model.cpp
  cpp/serving/tabular_model.cpp
  cpp/tests/serving/feature_compute_exec_test.cpp
  cpp/tests/serving/schema_parser_test.cpp
  vcpkg.json
Labels: bug

#55 supports loading ort model with tensor input
  .gitattributes
  .gitignore
  cmake/metaspore_tests.cmake
  cpp/metaspore/io.cpp
  cpp/serving/arrow_tensor_serde.cpp
  cpp/serving/arrow_tensor_serde.h
  cpp/serving/converters.cpp
  cpp/serving/converters.h
  cpp/serving/grpc_model_runner.cpp
  cpp/serving/grpc_model_runner.h
  cpp/serving/model_manager.cpp
  cpp/tests/data/MNIST/raw/t10k-images-idx3-ubyte.gz
  cpp/tests/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
  cpp/tests/data/MNIST/raw/train-images-idx3-ubyte.gz
  cpp/tests/data/MNIST/raw/train-labels-idx1-ubyte.gz
  java/online-serving/serving/src/main/java/com/dmetasoul/metaspore/serving/ArrowTensor.java
  java/online-serving/serving/src/main/java/com/dmetasoul/metaspore/serving/TensorSerDe.java
  java/online-serving/serving/src/test/java/com/dmetasoul/metaspore/serving/ArrowTensorSerdeTest.java
  python/metaspore/estimator.py
  python/tests/dense_xgboost.py
  python/tests/dense_xgboost_grpc_test.py
  python/tests/mnist_mlp.py
  python/tests/mnist_mlp_eval.py
  python/tests/requirements.txt
  python/tests/sparse_wdl_export_test.py
  python/tests/verify_java_tensor_serde.py
Labels: enhancement

#76 Unify data processing
  demo/dataset/.gitignore
  demo/dataset/README-CN.md
  demo/dataset/README.md
  demo/dataset/common/__init__.py
  demo/dataset/common/criteo_sparse_features_extractor.py
  demo/dataset/common/ml_sparse_features_extractor.py
  demo/dataset/common/neg_sampler.py
  demo/dataset/criteo/fg.py
  demo/dataset/criteo/fg_5d.yaml
  demo/dataset/ml_1m/fg.py
  demo/dataset/ml_1m/fg.yaml
  demo/dataset/ml_1m/match_dataset_cf.py
  demo/dataset/ml_1m/match_dataset_cf.yaml
  demo/dataset/ml_1m/match_dataset_negsample.py
  demo/dataset/ml_1m/match_dataset_negsample_10.yaml
  demo/dataset/ml_1m/match_dataset_negsample_100.yaml
  demo/dataset/ml_1m/rank_dataset.py
  demo/dataset/ml_1m/rank_dataset.yaml
  demo/dataset/ml_25m/fg.py
  demo/dataset/ml_25m/fg.yaml
  demo/dataset/ml_25m/match_dataset_negsample.py
  demo/dataset/ml_25m/match_dataset_negsample_10.yaml
  demo/dataset/ml_25m/match_dataset_negsample_100.yaml
  demo/dataset/ml_25m/rank_dataset.py
  demo/dataset/ml_25m/rank_dataset.yaml
Labels: enhancement

#78 add dev and train/serving build/release docker files
  .dockerignore
  CMakeLists.txt
  cmake/metaspore_common.cmake
  cmake/metaspore_serving.cmake
  cmake/metaspore_shared.cmake
  docker/ubuntu20.04/Dockerfile_dev
  docker/ubuntu20.04/Dockerfile_serving_build
  docker/ubuntu20.04/Dockerfile_serving_release
  docker/ubuntu20.04/Dockerfile_training_build
  docker/ubuntu20.04/Dockerfile_training_release
  docker/ubuntu20.04/README-CN.md
  docker/ubuntu20.04/README.md
  docker/ubuntu20.04/maven-proxy-settings.xml
  docker/ubuntu20.04/release-copy-deps-pom.xml
Labels: enhancement

#80 Add grpc model load api
  cpp/serving/grpc_server.cpp
  cpp/serving/model_manager.cpp
Labels: enhancement
